html {
  overflow: auto;
}
a {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  margin: 0;
  font-family: "Titillium Web", Helvetica, Trebuchet MS, Arial, sans-serif;
}
h4,
h3,
h2,
p {
  margin: 0;
}

h2 {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 400;
}

h3 {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-size: 22px;

  font-weight: 550;
}

body {
  box-sizing: border-box;
  padding: 40px 20px 0px 20px;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
hr {
  width: 100%;
}
header hr {
  width: 1000%;
  margin: 0 0 0 -500%;
}

figure {
  margin: 0;
}

body .content-wrapper {
  width: auto;
  max-width: 1130px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  flex: 1;
}

.fa-facebook {
  color: #4267b2;
}
.fa-twitter {
  color: #1da1f2;
}
.fa-whatsapp {
  color: #4fce5d;
}
.fa-linkedin {
  color: #0077b5;
}
.fa-reddit {
  color: #ff4500;
}
.fa-pinterest {
  color: #e60023;
}
.fa-envelope {
  color: #999999;
}
.fa-print {
  color: #999999;
}
.blue {
  color: #00b3e5;
}

.published-date {
  color: #4d4d4d;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  margin: 11px 0;
  font-size: 16px;
  font-weight: 400;
}

.category-link {
  font-weight: 550;
  text-transform: uppercase;
}

.by-author {
  color: #4d4d4d;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  margin: 0 0 11px 0;
  font-size: 16px;
  font-weight: 400;
}

.author {
  font-weight: 550;
}

.top-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  justify-items: center;
  margin-bottom: 10px;
}

.top-header div {
  padding: 0;
  justify-self: left;
}
.top-header h4 {
  color: #00b3e5;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}
.top-header p {
  color: #999;
  width: 230px;
}
.top-header img {
  width: 100%;
}
.top-header button {
  display: flex;
  justify-self: right;
  padding: 7px 20px;
  border: 0;
  font-size: 14px;

  border-radius: 3px;
  background: #00b3e5;
  color: #ffffff;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}
.top-nav {
  display: grid;
  grid-template-columns: 4.5fr 1fr;
  grid-auto-flow: column;
}

.top-nav li {
  padding: 10px 0;
}

.top-nav a {
  padding: 10px 0;
  text-decoration: none;
  color: inherit;
}

.main-nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  color: #002837;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
  /*

  //Grid not used, because minimum required for wrap

  display: grid;
  justify-items: left;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  list-style: none;
  padding: 0px;
  */
}

.main-nav i {
  padding: 0 5px;
}
.aux-nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  gap: 10px;
  font-size: 16px;
  font-family: "Titillium Web", Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 700;
  color: #002837;
  text-transform: capitalize;
  margin: 0;
  flex-wrap: nowrap;
}

.aux-nav i {
  padding-right: 5px;
}

.border-bottom {
  border-bottom: 5px solid #002837;
}

.main-body {
  flex: 1;
  display: grid;
  grid-template-columns: [first]5fr[second]1fr[third];
  grid-template-areas:
    "content side-box"
    "aux-cta .";
  margin: 22px 0;
}

.main-body main {
  grid-area: content;
}

.main-body .side-box {
  grid-area: side-box;
  margin: 0;
  padding: 0;
}

.main-body main article {
  display: flex;
  flex-direction: column;
}

.main-body .aux-cta {
  grid-area: aux-cta;
  margin: 0 0 22px 0;
}

.main-body img {
  width: 100%;
}

.main-body p {
  font-size: 17px;
  font-family: "PT Serif", Georgia, serif;
  margin-bottom: 11px;
  color: #4d4d4d;
  font-weight: lighter;
  line-height: 1.5625rem;
}

.main-body .article-topics {
  display: flex;
  list-style: none;
  margin-bottom: 22px;
}

.main-body .article-topics p {
  margin: 0;
  padding-right: 10px;
}
.main-body .article-topics ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 7.5px;
}

.main-body .article-topics button {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  background: #005587;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 7.5px;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 550;
}

.cta-box {
  background: #f5f5f5;
  padding: 7.5px;
  font-family: "Titillium Web", Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 550;
  margin: 22px 0;
}

.side-box ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-left: 22px;
  margin: 0;
}

.side-box .top-nav-item {
  background: #f5f5f5;
  padding: 7.5px 7.5px;
  font-size: 14px;
  font-family: "Titillium Web", Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 550;
}

.side-box .blue-background {
  background: #00b3e5;
  color: #f5f5f5;
}

.side-box .articles {
  counter-reset: list-counter;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  color: #4d4d4d;
}

.side-box .articles li {
}

.side-box .article-item {
  counter-increment: list-counter;
  background: #f5f5f5;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.side-box .article-item:after {
  content: counter(list-counter);
  background: #f5f5f5;
  color: #00b3e5;
  font-size: 26px;
  font-family: "Titillium Web", Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 700;
  align-self: center;
  padding: 0 10px;
}

.main-body .aux-cta {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.sharing-icons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 10px 0;
}

.main-body .aux-cta .first-item {
  flex: 2;
}

.main-body .aux-cta .second-item {
  flex: 1;
}

.main-body .aux-cta .third-item {
  flex: 1;
}

.main-body .aux-cta img {
  width: 207px;
}

.main-body .aux-cta .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-body .aux-cta .button-container button {
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 7.5px;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 550;
  font-size: 16px;
}

.subscribe-button {
  background: #00b3e5;
}
.view-button {
  background: #20b2aa;
}
.buy-button {
  background: #ff0000;
}

.more-articles {
  flex: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 22px 22px;
  grid-auto-flow: row;
}
.card {
  display: grid;
  grid-template-areas:
    "top"
    "bottom";
}
.card img {
  width: 100%;
  grid-area: top;
  padding-bottom: 10px;
}

.card h2 {
  font-size: 20px;
  font-weight: 550;
  grid-area: bottom;
}

.card-label {
  font-size: 14px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  font-weight: 550;
  background: #484848;
  padding: 7.5px;
  color: #ffffff;
  grid-area: top;
  place-self: start;
}

.card-link {
  display: block;
  color: black;
}

.store-download {
  width: 110px;
}

footer {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

footer:before {
  content: "";
  background-color: #f5f5f5;
  position: absolute;

  height: 100%;
  width: 200vw;
  left: -100vw;
  z-index: -1;
}

footer .newsletter {
  padding: 11px 0;
  margin: 22px 0;
}

.newsletter label {
  color: #4d4d4d;
  font-size: 16px;
  font-family: "PT Serif", Georgia, serif;
  padding: 5px 0;
}

.newsletter input {
  font-size: 16px;
  font-family: "PT Serif", Georgia, serif;
  border: none;
  border-bottom: 2px solid black;
  background-color: rgba(0, 0, 0, 0);

  margin: 0 10px;
  width: 300px;
}

.newsletter button,
footer button {
  width: 240px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
  background: #005587;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 7.5px;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  font-weight: 550;
  margin: 11px 0;
}

footer ul {
  list-style: none;
  text-align: center;
  margin: 11px 0;
}
footer li {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-right: 11px;
  margin-right: 11px;
}

footer li:not(:last-child) {
  border-right: 1px solid black;
}

.footer-cta {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin: 22px 0;
}
.footer-cta h3 {
  font-size: 16px;
  font-weight: 400;
}

footer .back-to-top {
  display: flex;
  margin: 22px 0;
  align-items: center;
  gap: 11px;
}
footer .back-to-top a:not(:last-child) {
  color: black;
  font-weight: 600;
  font-size: 16px;
  font-family: Titillium Web, Helvetica, Trebuchet MS, Arial, sans-serif;
}

.fa-arrow-circle-up {
  color: black;
}
